@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.1.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*---------------------------------------------------- 	General------------------------------------------------------*/
body {
	font-family:'Montserrat',sans-serif;
	font-size:16px;
	line-height:1.7;
	color:#777;
	font-weight:400;
	overflow-x:hidden;
}
.playball {
	font-family:'Playball',cursive;
}
h1,h2,h3,h4,h5,h6 {
	color:#333;
	line-height:1.4;
	font-weight:700;
}
.w960 {
	max-width:960px;
	margin:0px auto;
}
a,a:hover {
	color:#cc580c;
	text-decoration: none;
}
img {max-width: 100%;}
/*---------------------------------------------------- 	Menu------------------------------------------------------*/
.isFixed {
	left:0px;
	width:100%;
}
/*.menu {
	 margin-top:0px;
	 position:absolute;
	 z-index:999;
	 margin-top:20px;
	 left:0px;
	 right:0px;
	 bottom:0;
}*/

.navArea {
	/*float:right;*/
}
.navwrapper .container {
	padding:0;
	width:auto;
}
.navbar-header {
	display:none;
}
.nav>li>a {
	display:inline-block;
}
.navbar-nav>li {
	float:none;
	display:inline-block;
}
.navbar-nav {
	margin:0 auto;
	text-align:center;
	float:none;
}
.navbar-toggle {
	margin-top: 14px;
}
/* Special class on .container surrounding .navbar,used for positioning it into place. */
.navbar-wrapper {
	margin-top:0px;
	height:80px;
	position:relative;
	z-index:15;
}
.navbar-wrapper .container {
	padding:0px;
}
.navbar-collapse {
	padding:0;
}
.navbar-collapse.in {
	max-height:100%;
}
.navbar.navbar-inverse.navbar-static-top {
	margin:0px auto;
	background:none;
	color:#c3c8d6;
	border:none;
	font-family:'Open Sans',sans-serif;
	font-size:14px;
	font-weight:600;
	text-transform:uppercase;
}
.navbar.navbar-inverse.navbar-static-top a {
	color:#fff;
	padding:31px 16px;
	line-height:18px;
	text-align:center;
}
.navbar.navbar-inverse.navbar-static-top a:hover {
	background:none;
	color:#fff;
}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a:focus {
	background:none;
	color:#fff !important;
}
.navbar-inverse .navbar-nav>.active>a:hover {
	color:#fff;
}
.hideClass {
	display:none;
}
.isFixed .navbar-inverse .navbar-nav>.active>a,.isFixed .navbar-inverse .navbar-nav>.active>a:focus {
	background:#228B22;
	color:#fff;
}
.isFixed .navbar.navbar-inverse.navbar-static-top a:hover {
	background:#228B22;
	color:#fff;
}
.isFixed .navbar.navbar-inverse.navbar-static-top a {
	color:#fff;
}
.stuckMenu {
	-o-transition:all .5s;
	-ms-transition:all .5s;
	-moz-transition:all .5s;
	-webkit-transition:all .5s;
	transition:all .5s;
		background:#111;
}
.isFixed {
	background:#333;
		-o-transition:all .5s;
	-ms-transition:all .5s;
	-moz-transition:all .5s;
	-webkit-transition:all .5s;
	transition: all .5s;
}
.collapse {
	display: block !important;
}
@media (max-width: 655px) {
	/*.collapse {background: #333;}
	.navbar.navbar-inverse.navbar-static-top a {padding: 15px 16px;line-height: 15px;font-size: 13px;}*/
}
/*---------------------------------------------------- 	Intro------------------------------------------------------*/
header {
	/*padding-bottom:50px;*/
	width: inherit;
	overflow-x: hidden;
}
.bannerimage{
	height:600px;
	padding-top:170px;
}
.intro {
	font-family:'Playball',cursive;
	font-size:60px;
	line-height:1.0;
	font-weight: 900;
	color:#fff;
}
/*---------------------------------------------------- 	Parallax------------------------------------------------------*/
.parallax {
	text-align:center;
	background-position: center center;
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment:fixed !important;
	overflow:hidden;
}
.parallax-pattern-overlay {
	background-image:url(../img/pattern.png);
	background-repeat: repeat;
}
/*---------------------------------------------------- 	Heading------------------------------------------------------*/
.heading {
	padding-bottom:15px;
	text-align:center;
	max-width:960px;
	margin:0px auto;
	padding-top:80px;
}
.heading h2 {
	font-weight:700;
	font-family:'Playball',cursive;
	font-size:35px;
	color:#333;
	margin:0;
	padding:5px;
}
.heading h2::first-letter {
	color:#228B22;
}
/*.heading h3 {
	font-size:16px;
	line-height:1.7;
}*/
.heading h3{
 font-family:'Playball',cursive;
 font-size: 1em;
 color: #808080 ;/*grey color*/
}
img#site-title {
	max-width: 150px;
}


/*---------------------------------------------------- 	Overlay ------------------------------------------------------*/
/*.overlay{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 10;
  overflow: scroll;
}
.overlaycontent{
  padding-top: 5em;
  padding-bottom: 5em;
  -moz-flex-grow: 1;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  -moz-flex-shrink: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-shrink: 1;
  flex-shrink: 1;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  max-width: 100%;
  z-index: 3;
}
.overlaycontent article {
  -moz-transform: translateY(0.25rem);
  -webkit-transform: translateY(0.25rem);
  -ms-transform: translateY(0.25rem);
  transform: translateY(0.25rem);
  -moz-transition: opacity 0.325s ease-in-out, -moz-transform 0.325s ease-in-out;
  -webkit-transition: opacity 0.325s ease-in-out, -webkit-transform 0.325s ease-in-out;
  -ms-transition: opacity 0.325s ease-in-out, -ms-transform 0.325s ease-in-out;
  transition: opacity 0.325s ease-in-out, transform 0.325s ease-in-out;
  padding: 4.5rem 2.5rem 1.5rem 2.5rem ;
  position: relative;
  width: 40rem;
  max-width: 100%;
  background-color: rgba(27, 31, 34, 0.85);
  border-radius: 4px;
  opacity: 0;
}
.overlaycontent article.active {
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
.overlaycontent article .close {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  text-indent: 4rem;
  overflow: hidden;
  white-space: nowrap;
}
.overlaycontent article .close:before {
  -moz-transition: background-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  content: '';
  display: block;
  position: absolute;
  top: 0.75rem;
  left: 0.75rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  background-position: center;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20px' height='20px' viewBox='0 0 20 20' zoomAndPan='disable'%3E%3Cstyle%3Eline %7B stroke: %23ffffff%3B stroke-width: 1%3B %7D%3C/style%3E%3Cline x1='2' y1='2' x2='18' y2='18' /%3E%3Cline x1='18' y1='2' x2='2' y2='18' /%3E%3C/svg%3E");
  background-size: 20px 20px;
  background-repeat: no-repeat;
}

.overlaycontent article .close:hover:before {
  background-color: rgba(255, 255, 255, 0.075);
}

.overlaycontent article .close:active:before {
  background-color: rgba(255, 255, 255, 0.175);
}

@media screen and (max-width: 736px) {

.overlaycontent article {
padding: 3.5rem 2rem 0.5rem 2rem ;
}

.overlaycontent article .close:before {
  top: 0.875rem;
  left: 0.875rem;
  width: 2.25rem;
  height: 2.25rem;
  background-size: 14px 14px;
}

}

@media screen and (max-width: 480px) {

.overlaycontent article {
padding: 3rem 1.5rem 0.5rem 1.5rem ;
}

}*/


/*---------------------------------------------------- 	Events 1 ------------------------------------------------------*/
.main-section{
	padding:90px 0 110px;
	text-align: center;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	/*.main-section{ padding:70px 0;}*/
}
@media only screen and (max-width: 767px) {
	.main-section{ padding:60px 0 70px;}
	.main-section.contact{ padding:60px 0 70px}
	.main-section.team{ padding:60px 0 50px;}
	.main-section.contact{ background-size:contain;}
	.Portfolio-nav li a{ padding:5px 16px;}
	.Portfolio-nav li{ display:block;}
}
@media only screen and (max-width: 768px) {
	.Portfolio-box{  max-width:300px !important; width:96.4% !important; margin:0 !important}
	.Portfolio-box img { max-width:100%;}
	/*.portfolioContainer{ width:280px !important; margin:0 auto !important }*/
	.portfolioContainer{ width:100% !important; margin:0 auto !important}
	.col-md-6{width:100%;padding-right:0px;padding-left:0px}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.portfolioContainer{ width:100% !important; margin:0 auto !important}
	.col-md-6{width:42%;float: right;padding-right:10px;padding-left:10px}
}
@media only screen and (min-width: 991px){
	.portfolioContainer{ width:100% !important; margin:0 auto !important}
	.col-md-6{width:30%;padding-right:10px;padding-left:10px}
}

.Portfolio-nav{
	padding:0;
	margin:0 0 45px 0;
	list-style:none;
	text-align:center;
}
.Portfolio-nav li{
	margin:0 10px;
	display:inline;
}
.Portfolio-nav li a{
	display:inline-block;
	padding:10px 22px;
	font-size:12px;
	line-height:20px;
	color:#222222;
	border-radius:4px;
	text-transform:uppercase;
	font-family: 'Montserrat', sans-serif;
	background:#f7f7f7;
	margin-bottom:5px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}
.Portfolio-nav li a:hover{
	background:#228B22;
	color:#fff;
	text-decoration:none;
}

.portfolioContainer{
	margin:0 auto;
	/*padding-left:15px;*/
}

.Portfolio-box{
	text-align:center;
	margin-bottom:30px;
	height:350px;
	width:350px;
	overflow:hidden;
	float:left;
	padding:0;
}
.Portfolio-box img{
	margin-bottom:25px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.Portfolio-box img:hover {
	opacity: 0.6;
}

.Portfolio-nav li a.current{
	background:#228B22;
	color:#fff;
	text-decoration:none;
}
img {
   max-width:100%;
}

/* no transition on .isotope container */

.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.6s;
     -moz-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}

.main-section.paddind{
	padding-bottom:60px;
}


.portfolioContainer{
	max-width: 1140px;
}


/* Animation Timers
---------------------------------*/
.delay-02s {
	animation-delay: 0.2s;
	-webkit-animation-delay: 0.2s;
}
.delay-03s {
	animation-delay: 0.3s;
	-webkit-animation-delay: 0.3s;
}
.delay-04s {
	animation-delay: 0.4s;
	-webkit-animation-delay: 0.4s;
}

.delay-05s {
	animation-delay: 0.5s;
	-webkit-animation-delay: 0.5s;
}
.delay-06s {
	animation-delay: 0.6s;
	-webkit-animation-delay: 0.6s;
}

.delay-07s {
	animation-delay: 0.7s;
	-webkit-animation-delay: 0.7s;
}
.delay-08s {
	animation-delay: 0.8s;
	-webkit-animation-delay: 0.8s;
}

.delay-09s {
	animation-delay: 0.9s;
	-webkit-animation-delay: 0.9s;
}
.delay-1s {
	animation-delay: 1s;
	-webkit-animation-delay: 1s;
}
.delay-12s {
	animation-delay: 1.2s;
	-webkit-animation-delay: 1.2s;
}

/*---------------------------------------------------- 	Events  ------------------------------------------------------*/
.papers,.papers:before,.papers:after {
	background-color:#fff;
	border:1px solid #ccc;
	box-shadow:inset 0 0 30px rgba(0,0,0,0.1),1px 1px 3px rgba(0,0,0,0.2);
}
.papers {
	position:relative;
	width:90%;
	padding:2em;
	margin:0px auto;
	margin-top:40px;
	font-size:12px;
}
.papers:before,.papers:after {
	content:"";
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	-webkit-transform:rotateZ(2.5deg);
	-o-transform:rotate(2.5deg);
	transform:rotateZ(2.5deg);
	z-index:-1;
}
.papers:after {
	-webkit-transform:rotateZ(-2.5deg);
	-o-transform:rotate(-2.5deg);
	transform:rotateZ(-2.5deg);
}
.papers h1 {
	font-size:1.8em;
	font-weight:normal;
	text-align:center;
	padding:0.2em 0;
	margin:0;
	border-top:1px solid #ddd;
	border-bottom:2px solid #ddd;
}
.papers p {
	text-align:left;
	margin:1.5em 0;
}
.papers img {
	max-width:100%;
	margin-bottom: 5px;
}

/*---------------------------------------------------- 	Contact------------------------------------------------------*/
input.contact {
	background:#fff;
	border:solid 1px #ddd;
	color:#000;
	padding:15px 30px;

	margin-right:3%;
	margin-bottom:30px;
	outline:none;
}
input.contact.noMarr {
	margin-right:0px;
}
textarea.contact {
	background:#fff;
	color:#000;
	border:solid 1px #ddd;
	padding:15px 30px;

	margin-bottom:40px;
	outline:none;
	height:150px;
}
.contact.submit {
	background:#333;
	font-family:'Montserrat',sans-serif;
	color:#fff;
	font-size:16px;
	font-weight:400;
	text-align:center;
		margin:0px;
	border:none !important;
	border-radius:3px;
}
.contact.submit:hover {
	background:#cc580c;
}
.done {
	display:none;
}
.error input,input.error,.error textarea,textarea.error {
	background-color:#ffffff;
	border:1px solid red !Important;
	-webkit-transition:border linear 0.2s,box-shadow linear 0.2s;
	-moz-transition:border linear 0.2s,box-shadow linear 0.2s;
	-o-transition:border linear 0.2s,box-shadow linear 0.2s;
	transition:border linear 0.2s,box-shadow linear 0.2s;
}
@media screen and (min-width:768px) {
	input.contact.col-md-6 {
		width: 48.5%;
	}
}
/*----------------------------------------------------	 8. Footer Style------------------------------------------------------*/
.footer {
	background:#2a2a2a;
	margin-top:120px;
	position:relative;
}
.footer .container {
	padding:60px 0 20px;
}
.footer ul {
	margin:0 auto;
	margin-bottom:30px;
	margin-top:10px;
	text-align:center;
	list-style-type:none;
	padding-left:0;
}
.footer ul li {
	display:inline-block;
	text-align:center;
	background:rgba(0,0,0,0.2);
	color:#ffffff;
	line-height:45px;
	margin:0 4px 0px;
	width:45px !important;
	height:45px !important;
		-webkit-border-radius:3px;
	border-radius:3px;
}
.footer ul li:hover {
	background:#2a2a2a;
}
.footer ul li:hover	a {
	color:#fff;
}
.footer ul li a {
	color:#fff;
	width:42px !important;
	height:42px !important;
}
.footer ul li a i {
	line-height:45px;
	color:#fff;
}
.footer p {
	color:#fff;
	font-size:13px;
	line-height:24px;
	font-weight:300;
	text-align:center;
	/*text-transform:uppercase;*/
}
.footer label{
  color:#228B22;
	font-size:16px;
	line-height:24px;
	font-weight:600;
	text-align:center;
}
.footer a label{
  font-family:'Playball',cursive;
  color:#37FDFC;
	font-size:20px;
	line-height:24px;
	font-weight:300;
	text-align:center;
  cursor: help;
}
.footer a label::first-letter{
  color: #BF3EFF;
}
.gototop {
	display:inline-block;
	width:60px;
	height:60px;
	background:#fff;
	position:absolute;
	margin-left:-30px;
	top:-35px;
	border-radius:50%;
}
.gototop i {
	color:#228B22;
	line-height:70px;
}
.footer a,.footer a:hover {
	color:#fff;
}
blockquote {
	font-style:italic;
	margin:0 0 0px 0;
	padding:20px 70px 10px;
	position:relative;
	font-size:13px;
	border:0;
}
blockquote:before {
	display:block;
	content:"\201C";
	font-size:120px;
	position:absolute;
	left:10px;
	top:-30px;
	color:#cc580c;
	font-family:Georgia;
}
blockquote cite {
	color:#cc580c;
	font-size:14px;
	display:block;
	margin-top:5px;
	text-align:right;
}
blockquote cite:before {
	content: "\2014 \2009";
}
